@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-div {
    @apply flex flex-col items-center justify-around rounded-full bg-white w-24 h-24 p-4 text-center hover:scale-[110%] ease-in-out duration-200 transition-all;
  }

  .info-button-div {
    @apply z-0 flex flex-col items-center justify-around rounded-full bg-slate-200 bg-opacity-90 w-10 h-10 p-1 text-center hover:scale-[110%] ease-in-out duration-200 transition-all;
  }
  .button-text {
    @apply text-xs uppercase font-semibold;
  }

  .table-item {
    @apply w-full px-4 py-2;
  }

  .popUp-title {
    @apply text-lg;
  }
}

.bg-stripes {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.bg-zig-zag {
  width: 500px;
  height: 500px;
  background-color: #252525;
  background-image: linear-gradient(135deg, #000 25%, transparent 25%),
    linear-gradient(225deg, #000 25%, transparent 25%),
    linear-gradient(315deg, #000 25%, transparent 25%),
    linear-gradient(45deg, #000 25%, transparent 25%);
  background-position:
    -100px 0,
    -100px 0,
    0 0,
    0 0;
  background-size: 180px 180px;
  background-repeat: repeat;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
